.container {
  padding: 0 2rem;
  background-color: var(--very_dark_desaturated_blue);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  height: 850px;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer Link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 540px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
